.principal {
  @include flex-2(center, center);
  gap: 3rem;
  text-align: center;
  background-color: $bg;
  width: 100%;
  height: 100%;
}

.principal-logo {
  @include flex-1(center, center);
  position: relative;
}
.principal-logo .brain {
  color: $pink;
  font-size: 10rem;
}
.principal-logo .gear {
  position: absolute;
  color: $secondary;
  font-size: 4rem;
  top: -1rem;
  right: 0;
  animation: turnAround 5s infinite ease;
  transition: all ease 0.5s;
}
.principal h1 {
  font-weight: bold;
  font-size: 3.5rem;
}
.principal-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
}
.prinicpal-buttons {
  @include flex-1(space-between, center);
  gap: 1rem;
}
// keyframes animations
@keyframes turnAround {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(18deg);
  }
  10% {
    transform: rotate(36deg);
  }
  15% {
    transform: rotate(54deg);
  }
  20% {
    transform: rotate(72deg);
  }
  25% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(108deg);
  }
  35% {
    transform: rotate(126deg);
  }
  40% {
    transform: rotate(144deg);
  }
  45% {
    transform: rotate(162deg);
  }
  50% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(198deg);
  }
  60% {
    transform: rotate(216deg);
  }
  65% {
    transform: rotate(234deg);
  }
  70% {
    transform: rotate(252deg);
  }
  75% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(288deg);
  }
  85% {
    transform: rotate(306deg);
  }
  90% {
    transform: rotate(324deg);
  }
  95% {
    transform: rotate(342deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
